@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Open Sans", sans-serif;

}

/* HTML6 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


main {
  .presentation {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 90vh;
    flex-direction: column;
    margin-bottom: 5rem;

    img {
      width: 100%;
      max-width: 520px;
      border-radius: 50%;
      border: 1px solid #14213d;
      margin-bottom: 1.8rem;

    }

    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 1.7rem;

      h1 {
        font-size: 3rem;
        color: #14213d;
      }

      small {
        font-size: 0.7rem;
        color: #2e4370;
        font-weight: bold;
        margin-top: -1rem;
      }
    }

    h1 {
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.2rem;
      margin-bottom: 1rem;
      color: #fca311;

      b {
        color: #14213d;
        font-weight: bold;
      }
    }

    input {
      padding: 0.5rem;
      border: 1px solid #14213d;
      border-radius: 0.5rem;
      margin-bottom: 1rem;
      font-size: 1.2rem;
    }

    a {
      text-decoration: none;
      color: #14213d;
      font-weight: bold;
      border: 1px solid #14213d;
      padding: 0.5rem;
      border-radius: 0.5rem;
      background-color: #fca311;
      color: #14213d;
      transition: 0.3s;

      &:hover {
        background-color: #14213d;
        color: #fca311;
      }
    }
  }
}

.home {
  background-color: #fca311;

  h1 {
    font-size: 2.5rem;
    color: #14213d;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 700;
    padding: 2rem;
  }

  .entry-task {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
    

    h2 {
      font-size: 2rem;
      color: #14213d;
      margin-bottom: 1rem;
      font-weight: 600;
    }

    .entry-task__add-task {
      margin-top: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      input {
        padding: 0.5rem;
        border: 1px solid #14213d;
        border-radius: 0.5rem;
        margin-bottom: 1rem;
        font-size: 1.2rem;
      }

      button {
        padding: 0.5rem;
        border: 1px solid #14213d;
        border-radius: 0.5rem;
        background-color: #fff;
        color: #14213d;
        font-weight: bold;
        transition: 0.3s;

        &:hover {
          background-color: #14213d;
          color: #fca311;
        }
      }
    }
  }

  .all-task-list {
    margin-top: 2rem;
    background-color: #2e4370;
    color: #ffb845;

      h2 {
        text-align: center;
        font-size: 1.5rem;
        color: #fca311;
        padding: 2rem;
        font-weight: 600;
      }

      .all-task-list__pending {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 2rem;

        #pending-tasks {
          border: 1px solid #fca311;
          border-radius: 0.5rem;
          padding: 1rem;
          width: 100%;
          max-width: 500px;
          background-color: #14213d;
          color: #fca311;
          font-size: 1.2rem;
          margin-bottom: 1rem;
        }

      }
    }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: #14213d;
  color: #fca311;
  font-weight: bold;
  font-size: 1.2rem;
  position: absolute;
  width: 100%;

  p {
    margin: 0;

    a {
      text-decoration: none;
      color: #fca311;
      transition: 0.3s;

      &:hover {
        color: #8d99ae;
      }
    }
  }
}

/* Media Queries*/
@media screen and (max-width: 600px) {
  main {
    & .presentation {
      img {
        width: 420px;
      }
    }
  }
}

@media screen and (max-width: 530px) {
  main {
    & .presentation {
      p {
        font-size: 1rem;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  main {
    & .presentation {
      img {
        width: 350px;
      }
    }
  }
}

@media screen and (max-width: 380px) {
  main {
    & .presentation {
     p {
        font-size: 0.9rem;
     }

     .sign-in {
      display: flex;
      flex-direction: column;
      align-items: center;
     }
    }
  }
}